In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

In [2]:
column_names = ['t_dat', 'article_id','customer_id']
enhanced_transactions_path = "kaggle_data/enhanced_transactions.csv"
enhanced_transactions = pd.read_csv(enhanced_transactions_path, usecols=column_names)
enhanced_transactions['t_dat']=enhanced_transactions['t_dat'].astype('datetime64[ns]')
enhanced_transactions.dtypes

t_dat          datetime64[ns]
customer_id            object
article_id              int64
dtype: object

In [16]:
articles_over_time = (
                enhanced_transactions
                .groupby(pd.Grouper(key='t_dat',freq='M')) 
                .agg({'article_id':'count'})      
                .reset_index()
        )
articles_over_time.tail(3)

        t_dat  article_id
22 2020-07-31     1351502
23 2020-08-31     1237192
24 2020-09-30      798269

In [31]:
data_last_four_months = (
                enhanced_transactions
                .query("t_dat>='2020-06-01'")
                .reset_index(drop=True)
        )

data_last_four_months

,t_dat,customer_id,article_id
0,2020-07-16,4f0ea2048ef3b98c167336ae2be6f75628f7ed91cefdf1...,664421002
1,2020-06-17,0036a44bd648ce2dbc32688a465b9628b7a78395302f26...,553139001
2,2020-07-27,c4ab4070fd612f4e001e3780529c7d04bde18afc57f29a...,553139001
3,2020-06-01,28a2d40a52761cdb60a36a6c533003b51a4c7228fd7467...,377277001
4,2020-06-01,6841b4b3203f04a14d5bdfa64b6615bc23475ed3fd215f...,377277001
...,...,...,...
5151465,2020-09-22,ec794d6268ee3c75b5bbea014e3299d994bcd1180ecf6d...,860135008
5151466,2020-09-22,ec794d6268ee3c75b5bbea014e3299d994bcd1180ecf6d...,539060028
5151467,2020-09-22,ec794d6268ee3c75b5bbea014e3299d994bcd1180ecf6d...,539060028
5151468,2020-09-22,ee9c048de16034be4aa95c91adce7f7bda442e6528406e...,810737015
5151469,2020-09-22,f79e372e21c1359dfebc7da0bf7f321d55e47b3275c351...,533261032

In [29]:
path='kaggle_data/'
data_last_four_months.to_csv(os.path.join(path,r'transactions_feb_on.csv'),index=False)

In [2]:

enhanced_transactions_path = "kaggle_data/transactions_june_on.csv"
data_last_four_months = pd.read_csv(enhanced_transactions_path)
data_last_four_months['t_dat']=data_last_four_months['t_dat'].astype('datetime64[ns]')
data_last_four_months.dtypes

t_dat          datetime64[ns]
customer_id            object
article_id              int64
dtype: object

In [3]:
top_recent_thousand = (
                data_last_four_months
                .groupby(['customer_id']) 
                .agg({'t_dat':'count'})
                .sort_values(by=['t_dat'],ascending=False)
                .head(2000)
                .reset_index()
        )

top_recent_thousand

                                            customer_id  t_dat
0     b637a3e7d8b0caa947aaefd609b8d84a9ee962cf0a52a5...    391
1     4308983955108b3af43ec57f0557211e44462a56332383...    384
2     a3ab708684132c6bbd3dad7aa41f9b9c7d1c95d7d5cb1a...    364
3     98e6d2f440e7b29dc139b2e911f41adc1f814e09f16aca...    355
4     67931690bdf18d2e328854ae772cd5ce2505fdc1116469...    350
...                                                 ...    ...
1995  f387b2b5405ee17f1cea31c1c4853e18dad39c855aab27...     72
1996  00944aac87d67eb28bb5d3b5dc02dafa6b34c821ff6a3b...     72
1997  af3b36cdb07fcc9cbe2eac1b37eef895bce102aa6d058e...     72
1998  98ea85f10aeafb9b54d26a005d20db86fe790f18c60837...     72
1999  6a92a01c1d1304c5293e9b8649c0153df074980977fd69...     72

[2000 rows x 2 columns]

In [4]:
merged_df = pd.merge(data_last_four_months, top_recent_thousand['customer_id'], on='customer_id', how='inner')
selected_rows = merged_df[data_last_four_months.columns]
selected_rows

,t_dat,customer_id,article_id
0,2020-06-30,37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...,377277001
1,2020-06-28,37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...,153115020
2,2020-06-28,37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...,153115020
3,2020-06-30,37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...,377277002
4,2020-07-18,37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...,741356001
...,...,...,...
203316,2020-08-07,cf40474e98504696f1610dea69afd33715b522f1461599...,924040001
203317,2020-08-28,cf40474e98504696f1610dea69afd33715b522f1461599...,918894001
203318,2020-08-28,cf40474e98504696f1610dea69afd33715b522f1461599...,915526002
203319,2020-08-28,cf40474e98504696f1610dea69afd33715b522f1461599...,757903024
203320,2020-08-28,cf40474e98504696f1610dea69afd33715b522f1461599...,816919009

In [5]:
selected_rows.nunique()

t_dat            114
customer_id     2000
article_id     23394
dtype: int64

In [6]:
selected_rows.shape

(203321, 3)

In [7]:
df1 = selected_rows.drop_duplicates().reset_index(drop=True)
df1.head(2)

       t_dat                                        customer_id  article_id
0 2020-06-30  37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...   377277001
1 2020-06-28  37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...   153115020

In [8]:
df1.nunique()

t_dat            114
customer_id     2000
article_id     23394
dtype: int64

In [9]:
df1.shape

(169775, 3)

In [13]:
customers=set(df1['customer'])
j=0
fo
customersr# for i in customers:
#     pass
# i)j

KeyError: 'customer'

In [88]:
all_article_ids=set(df1['article_id'])
non_bought_items={}
articless=0
j=0
for customer_id in customers:
    bought_items = set(df1['article_id'][df1['customer_id'] == customer_id])
    number_bought_items=len(bought_items)
    articless+=number_bought_items
    unbought_itmes = list(all_article_ids - bought_items)
    non_bought_items[customer_id] = np.random.choice(unbought_itmes, size=number_bought_items, replace=False)
    j=j+1
j

1998

In [78]:
articles=0
for customer_id in cusomters:
    articles+= len(non_bought_items[customer_id])
articles

12878289

In [26]:
negative_samples = []
for customer_id in cusomters:
    negative_article_ids = non_bought_items[customer_id]
    for negative_article_id in negative_article_ids:
        negative_samples.append((customer_id, negative_article_id, 0))

In [31]:
positive_samples = [(customer_id, article_id, 1) for customer_id, article_id in zip(df1['customer_id'], df1['article_id'])]

# combine positive and negative samples
all_samples = positive_samples + negative_samples

In [43]:
len(positive_samples)

142768

In [45]:
len(negative_samples)

11366652

In [34]:
import pandas as pd

# assume `all_samples` is a list of tuples in the format (customer_id, article_id, label)

# convert to pandas DataFrame
df = pd.DataFrame(all_samples, columns=['customer_id', 'article_id', 'label'])

                                         customer_id  article_id  label
0  37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...   377277001      1
1  37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...   377277002      1
2  37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...   741356001      1
3  37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...   741356004      1
4  37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...   741356004      1

In [39]:
df.shape

(11509420, 3)

In [ ]:
# break_limit=3
# breaks=0

dict = {'customer_id':[],
        'prediction':[]
       }

df = pd.DataFrame(dict)


iterations=0



for index, value in data_set['customer_id'].iteritems():
    
    df.loc[len(df.index)] = [value, top_artilces] 
    
    iterations+=1
    
    if iterations%25000==0:
        print(f'{iterations} iterations')

    
    # if breaks>=break_limit:
    #     break
    # breaks=breaks+1

25000 iterations
50000 iterations
75000 iterations
100000 iterations
125000 iterations
150000 iterations
175000 iterations
200000 iterations
225000 iterations
250000 iterations
275000 iterations
300000 iterations
325000 iterations
350000 iterations
375000 iterations
400000 iterations
425000 iterations
450000 iterations
475000 iterations
500000 iterations
525000 iterations
550000 iterations
575000 iterations
600000 iterations
650000 iterations
675000 iterations
700000 iterations
725000 iterations

In [ ]:
df.head()

In [23]:
path='kaggle_data/'
category_season_embedding=category_performance_per_month.reset_index()
category_season_embedding.to_csv(os.path.join(path,r'cat_sea_embedding.csv'),index=False)

'751471001 918292001 706016001 448509014 751471043 915526001 916468003 896152002 915529003 866731001 850917001 706016003'

In [25]:
articles_over_time = (
                enhanced_transactions
                .groupby(pd.Grouper(key='t_dat',freq='M')) 
                .agg({'article_id':'count'})
                
                
                
                .reset_index()
        )

In [27]:
data_set_path="kaggle_data/enhanced_transactions.csv"

In [ ]:
data_set=pd.read_csv(data_set_path)

In [1]:
data_set.head()

NameError: name 'data_set' is not defined

NameError: name 'data_set' is not defined

In [23]:
# break_limit=13

# for column in df:
#     print(df[column])
    
# breaks=0
# for i, j in data_set.iterrows():
#     print(i)
#     print(j)
#     if breaks>=break_limit:
#         break
#     breaks=breaks+1

In [31]:
dict = {'customer_id':[],
        'prediction':[]
       }
  
df = pd.DataFrame(dict)
  
display(df)
  
df.loc[len(df.index)] = ['value', 'blah']

Empty DataFrame
Columns: [index, customer_id, prediction]
Index: []