In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

# Get Transaction data for recent history

In [36]:
column_names = ['t_dat', 'article_id','customer_id']
enhanced_transactions_path = "kaggle_data/enhanced_transactions.csv"
enhanced_transactions = pd.read_csv(enhanced_transactions_path, usecols=column_names)
enhanced_transactions['t_dat']=enhanced_transactions['t_dat'].astype('datetime64[ns]')
enhanced_transactions.dtypes

In [16]:
articles_over_time = (
                enhanced_transactions
                .groupby(pd.Grouper(key='t_dat',freq='M')) 
                .agg({'article_id':'count'})      
                .reset_index()
        )
articles_over_time.tail(3)

        t_dat  article_id
22 2020-07-31     1351502
23 2020-08-31     1237192
24 2020-09-30      798269

In [31]:
data_last_four_months = (
                enhanced_transactions
                .query("t_dat>='2020-06-01'")
                .reset_index(drop=True)
        )

data_last_four_months

,t_dat,customer_id,article_id
0,2020-07-16,4f0ea2048ef3b98c167336ae2be6f75628f7ed91cefdf1...,664421002
1,2020-06-17,0036a44bd648ce2dbc32688a465b9628b7a78395302f26...,553139001
2,2020-07-27,c4ab4070fd612f4e001e3780529c7d04bde18afc57f29a...,553139001
3,2020-06-01,28a2d40a52761cdb60a36a6c533003b51a4c7228fd7467...,377277001
4,2020-06-01,6841b4b3203f04a14d5bdfa64b6615bc23475ed3fd215f...,377277001
...,...,...,...
5151465,2020-09-22,ec794d6268ee3c75b5bbea014e3299d994bcd1180ecf6d...,860135008
5151466,2020-09-22,ec794d6268ee3c75b5bbea014e3299d994bcd1180ecf6d...,539060028
5151467,2020-09-22,ec794d6268ee3c75b5bbea014e3299d994bcd1180ecf6d...,539060028
5151468,2020-09-22,ee9c048de16034be4aa95c91adce7f7bda442e6528406e...,810737015
5151469,2020-09-22,f79e372e21c1359dfebc7da0bf7f321d55e47b3275c351...,533261032

In [5]:
path='kaggle_data/'
#saving data to pick up later
data_last_four_months.to_csv(os.path.join(path,r'transactions_feb_on.csv'),index=False)

NameError: name 'data_last_four_months' is not defined

In [7]:
#if using pre packaged data
data_last_four_months_path = "kaggle_data/transactions_june_on.csv"
data_last_four_months = pd.read_csv(data_last_four_months_path)
data_last_four_months['t_dat']=data_last_four_months['t_dat'].astype('datetime64[ns]')
data_last_four_months.dtypes

t_dat          datetime64[ns]
customer_id            object
article_id              int64
dtype: object

### Limit the data to top 2000 customers for testing

In [8]:
top_recent_thousand = (
                data_last_four_months
                .groupby(['customer_id']) 
                .agg({'t_dat':'count'})
                .sort_values(by=['t_dat'],ascending=False)
                .head(2000)
                .reset_index()
        )

top_recent_thousand

                                            customer_id  t_dat
0     b637a3e7d8b0caa947aaefd609b8d84a9ee962cf0a52a5...    391
1     4308983955108b3af43ec57f0557211e44462a56332383...    384
2     a3ab708684132c6bbd3dad7aa41f9b9c7d1c95d7d5cb1a...    364
3     98e6d2f440e7b29dc139b2e911f41adc1f814e09f16aca...    355
4     67931690bdf18d2e328854ae772cd5ce2505fdc1116469...    350
...                                                 ...    ...
1995  f387b2b5405ee17f1cea31c1c4853e18dad39c855aab27...     72
1996  00944aac87d67eb28bb5d3b5dc02dafa6b34c821ff6a3b...     72
1997  af3b36cdb07fcc9cbe2eac1b37eef895bce102aa6d058e...     72
1998  98ea85f10aeafb9b54d26a005d20db86fe790f18c60837...     72
1999  6a92a01c1d1304c5293e9b8649c0153df074980977fd69...     72

[2000 rows x 2 columns]

In [9]:
merged_df = pd.merge(data_last_four_months, top_recent_thousand['customer_id'], on='customer_id', how='inner')
selected_rows = merged_df[data_last_four_months.columns]
selected_rows

,t_dat,customer_id,article_id
0,2020-06-30,37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...,377277001
1,2020-06-28,37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...,153115020
2,2020-06-28,37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...,153115020
3,2020-06-30,37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...,377277002
4,2020-07-18,37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...,741356001
...,...,...,...
203316,2020-08-07,cf40474e98504696f1610dea69afd33715b522f1461599...,924040001
203317,2020-08-28,cf40474e98504696f1610dea69afd33715b522f1461599...,918894001
203318,2020-08-28,cf40474e98504696f1610dea69afd33715b522f1461599...,915526002
203319,2020-08-28,cf40474e98504696f1610dea69afd33715b522f1461599...,757903024
203320,2020-08-28,cf40474e98504696f1610dea69afd33715b522f1461599...,816919009

In [10]:
selected_rows.nunique()

t_dat            114
customer_id     2000
article_id     23394
dtype: int64

In [11]:
selected_rows.shape

(203321, 3)

In [12]:
df1 = selected_rows[['customer_id','article_id']].drop_duplicates().reset_index(drop=True)
df1.head(2)

                                         customer_id  article_id
0  37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...   377277001
1  37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3...   153115020

In [13]:
df1.nunique()

customer_id     2000
article_id     23394
dtype: int64

In [14]:
df1.shape

(154339, 2)

### Create downsampled unbought items (symmetry)

In [18]:
all_article_ids=set(df1['article_id'])
non_bought_items={}
customers=set(df1['customer_id'])
for customer_id in customers:
    bought_items = set(df1['article_id'][df1['customer_id'] == customer_id])
    number_bought_items=len(bought_items)
    unbought_itmes = list(all_article_ids - bought_items)
    non_bought_items[customer_id] = np.random.choice(unbought_itmes, size=number_bought_items, replace=False)

In [19]:
articles=0
for customer_id in customers:
    articles+= len(non_bought_items[customer_id])
articles

154339

In [20]:
negative_samples = []
for customer_id in customers:
    negative_article_ids = non_bought_items[customer_id]
    for negative_article_id in negative_article_ids:
        negative_samples.append((customer_id, negative_article_id, -1))

In [21]:
positive_samples = [(customer_id, article_id, 1) for customer_id, article_id in zip(df1['customer_id'], df1['article_id'])]

# combine positive and negative samples
all_samples = positive_samples + negative_samples

In [22]:
len(positive_samples)

154339

In [23]:
len(negative_samples)

154339

In [24]:
all_samples[0]

('37b5bde74ea498ef1883bb21157ea0983f97f76fdf49d3f489c084d24025ac1a',
 377277001,
 1)

In [25]:
# shuffle the samples
np.random.shuffle(all_samples)

### Turn into dataframe and save

In [26]:
import pandas as pd

# assume `all_samples` is a list of tuples in the format (customer_id, article_id, label)

# convert to pandas DataFrame
df = pd.DataFrame(all_samples, columns=['customer_id', 'article_id', 'label'])

In [27]:
path='kaggle_data/'
df.to_csv(os.path.join(path,r'collab_filtering_prelim_data.csv'),index=False)