In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import math 
import os

In [2]:
transactions_data_path="kaggle_data/transactions_train.csv"

In [3]:
transactions=pd.read_csv(transactions_data_path)
transactions['t_dat']=transactions['t_dat'].astype('datetime64[ns]')

In [5]:
article_price = (
    transactions
    .groupby('article_id')             # Group by products
    .agg({'price': ['mean','min','max'],'t_dat': ['min','max'],'article_id':['count']}) 
    .reset_index()
)

article_price.columns = ['_'.join(col) for col in article_price.columns.values]
article_price= article_price.rename({"article_id_": "article_id"}, axis=1) 
article_price.head(2)

,article_id,price_mean,price_min,price_max,t_dat_min,t_dat_max,article_id_count
0,108775015,0.008142,0.001339,0.009153,2018-09-20,2020-07-22,10841
1,108775044,0.008114,0.001424,0.008508,2018-09-20,2020-09-20,7250

In [7]:
article_price.dtypes

article_id                   int64
price_mean                 float64
price_min                  float64
price_max                  float64
t_dat_min           datetime64[ns]
t_dat_max           datetime64[ns]
article_id_count             int64
dtype: object

In [6]:
path='kaggle_data/'
article_price.to_csv(os.path.join(path,r'enhanced_article_meta_data.csv'),index=False)